.homepage,
.homepage__factoid_group {
  position: relative;
}

.homepage {
  height: 100vh;
  z-index: 5;
  padding: 20px 50px;
}

.homepage::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/src/assets/img/main_bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.homepage__title {
  font-size: 40px;
}

.homepage__text,
.homepage__factoid_text {
  font-size: 16px;
}

.homepage__text {
  width: 700px;
  line-height: 26px;
}

.homepage__factoids {
  display: flex;
  gap: 150px;
}

.homepage__factoid_text {
  position: absolute;
  top: 15px;
  margin-left: 10px;
  width: 105px;
  line-height: 22px;
}

.homepage__factoid {
  margin-top: 30px;
  font-weight: 700;
  font-size: 80px;
}

.homepage__img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 500px;
}
