.homepage,
.homepage__factoid_group {
  position: relative;
}

.homepage {
  z-index: 5;
  padding: var(--padding-large);
  flex-grow: 1;
}

.homepage::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/src/assets/img/main_bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.homepage__title {
  padding-top: var(--padding-large);
  font-size: 40px;
}

.homepage__text,
.homepage__factoid_text {
  font-size: 16px;
}

.homepage__text {
  max-width: 700px;
  line-height: 26px;
}

.homepage__factoids {
  display: flex;
  gap: 150px;
}

.homepage__factoid_text {
  position: absolute;
  top: 15px;
  margin-left: 10px;
  width: 105px;
  line-height: 22px;
}

.homepage__factoid {
  margin-top: 30px;
  font-weight: 700;
  font-size: 80px;
}

.homepage__img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 500px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .homepage__factoids {
    flex-direction: column;
    gap: 15px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .homepage {
    padding: 20px 10px;
  }

  .homepage__text {
    min-width: 300px;
  }

  .homepage__factoids {
    gap: 17px;
  }
}

@media (min-width: 480px) and (max-width: 549px) {
  .homepage__factoids {
    gap: 135px;
  }

  .homepage__factoid {
    margin-top: 30px;
    font-weight: 700;
    font-size: 60px;
  }
}

@media (min-width: 550px) and (max-width: 639px) {
  .homepage__factoids {
    gap: 135px;
  }
}
@media (min-width: 640) and (max-width: 769px) {
  .homepage__factoids {
    gap: 20px;
  }
}
