.searchbar {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar__input {
  padding: 10px 13px;
  width: 300px;
  border: 0;
  border-bottom: 1px solid #161616;
}

.searchbar__magnifier,
.searchbar__close {
  cursor: pointer;
}
