.albumcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  margin-bottom: 30px;
}

.albumcard__img {
  width: 100%;
  height: auto;
}

.albumcard__title,
.albumcard__singer {
  margin: 10px 0;
}

.albumcard__title {
  font-weight: 500;
  height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.albumcard__singer {
  color: #bebebe;
  font-weight: 600;
  height: 20px;
}
