.albumcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin-bottom: 30px;
}

.albumcard__img_group {
  position: relative;
}

.albumcard__heart {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #f35442;
}

.albumcard__img {
  width: 100%;
  height: auto;
}

.albumcard__title,
.albumcard__singer {
  margin: 10px 0;
  text-align: center;
}

.albumcard__title {
  font-weight: 500;
  height: 35px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.albumcard__singer {
  color: #bebebe;
  font-weight: 600;
  height: 20px;
}

.albumcard__btn {
  margin-top: 30px;
  padding: 7px 13px;
  outline: 2px solid #fa8072;
  border-radius: 7px;
  border: none;
  background-color: #f8f1f1;
  font-weight: 600;
  color: #161616;
  cursor: pointer;
}

.albumcard__btn:hover {
  background-color: #fa8072;
  color: #f8f1f1;
}
